In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
print("Imported!")

Imported!

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
extracting_data = requests.get(url).text
wiki_data = BeautifulSoup(extracting_data, 'lxml')

In [3]:
column_names = ['Postalcode','Borough','Neighborhood']
toronto = pd.DataFrame(columns = column_names)

content = wiki_data.find('div', class_='mw-parser-output')
table = content.table.tbody
postcode = 0
borough = 0
neighborhood = 0

for tr in table.find_all('tr'):
    i = 0
    for td in tr.find_all('td'):
        if i == 0:
            postcode = td.text
            i = i + 1
        elif i == 1:
            borough = td.text
            i = i + 1
        elif i == 2: 
            neighborhood = td.text.strip('\n').replace(']','')
    toronto = toronto.append({'Postalcode': postcode,'Borough': borough,'Neighborhood': neighborhood},ignore_index=True)

In [4]:
# clean dataframe 
toronto = toronto[toronto.Borough!='Not assigned']
toronto = toronto[toronto.Borough!= 0]
toronto.reset_index(drop = True, inplace = True)
i = 0
for i in range(0,toronto.shape[0]):
    if toronto.iloc[i][2] == 'Not assigned':
        toronto.iloc[i][2] = toronto.iloc[i][1]
        i = i+1

In [5]:
df = toronto.groupby(['Postalcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()
df=df.replace('\n','',regex=True)
df

,Postalcode,Borough,Neighborhood
0,M1A,Not assigned,Not assigned
1,M1B,Scarborough,"Malvern, Rouge"
2,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
3,M1E,Scarborough,"Guildwood, Morningside, West Hill"
4,M1G,Scarborough,Woburn
5,M1H,Scarborough,Cedarbrae
6,M1J,Scarborough,Scarborough Village
7,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park"
8,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge"
9,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West"
10,M1N,Scarborough,"Birch Cliff, Cliffside West"
11,M1P,Scarborough,"Dorset Park, Wexford Heights, Scarborough Town..."
12,M1R,Scarborough,"Wexford, Maryvale"
13,M1S,Scarborough,Agincourt
14,M1T,Scarborough,"Clarks Corners, Tam O'Shanter, Sullivan"
15,M1V,Scarborough,"Milliken, Agincourt North, Steeles East, L'Amo..."
16,M1W,Scarborough,"Steeles West, L'Amoreaux West"
17,M1X,Scarborough,Upper Rouge
18,M1Y,Not assigned,Not assigned
19,M1Z,Not assigned,Not assigned
20,M2A,Not assigned,Not assigned
21,M2B,Not assigned,Not assigned
22,M2C,Not assigned,Not assigned
23,M2E,Not assigned,Not assigned
24,M2G,Not assigned,Not assigned
25,M2H,North York,Hillcrest Village
26,M2J,North York,"Fairview, Henry Farm, Oriole"
27,M2K,North York,Bayview Village
28,M2L,North York,"York Mills, Silver Hills"
29,M2M,North York,"Willowdale, Newtonbrook"
...,...,...,...
150,M8N,Not assigned,Not assigned
151,M8P,Not assigned,Not assigned
152,M8R,Not assigned,Not assigned
153,M8S,Not assigned,Not assigned
154,M8T,Not assigned,Not assigned
155,M8V,Etobicoke,"New Toronto, Mimico South, Humber Bay Shores"
156,M8W,Etobicoke,"Alderwood, Long Branch"
157,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
158,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
159,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
160,M9A,Etobicoke,"Islington Avenue, Humber Valley Village"
161,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."
162,M9C,Etobicoke,"Eringate, Bloordale Gardens, Old Burnhamthorpe..."
163,M9E,Not assigned,Not assigned
164,M9G,Not assigned,Not assigned
165,M9H,Not assigned,Not assigned
166,M9J,Not assigned,Not assigned
167,M9K,Not assigned,Not assigned
168,M9L,North York,Humber Summit
169,M9M,North York,"Humberlea, Emery"
170,M9N,York,Weston
171,M9P,Etobicoke,Westmount
172,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
173,M9S,Not assigned,Not assigned
174,M9T,Not assigned,Not assigned
175,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
176,M9W,Etobicoke,"Northwest, West Humber - Clairville"
177,M9X,Not assigned,Not assigned
178,M9Y,Not assigned,Not assigned
179,M9Z,Not assigned,Not assigned

In [6]:
df.describe()

       Postalcode       Borough  Neighborhood
count         180           180           180
unique        180            11           100
top           M5S  Not assigned  Not assigned
freq            1            77            77

In [7]:
df = df.dropna()
empty = 'Not assigned'
df = df[(df.Postalcode != empty ) & (df.Borough != empty) & (df.Neighborhood != empty)]

In [8]:
df.head()

  Postalcode      Borough                            Neighborhood
1        M1B  Scarborough                          Malvern, Rouge
2        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
3        M1E  Scarborough       Guildwood, Morningside, West Hill
4        M1G  Scarborough                                  Woburn
5        M1H  Scarborough                               Cedarbrae

In [9]:
def neighborhood_list(grouped):    
    return ', '.join(sorted(grouped['Neighborhood'].tolist()))
                    
grp = df.groupby(['Postalcode', 'Borough'])
df_2 = grp.apply(neighborhood_list).reset_index(name='Neighborhood')

In [10]:
df_2.describe()

       Postalcode     Borough Neighborhood
count         103         103          103
unique        103          10           99
top           M5S  North York    Downsview
freq            1          24            4

In [11]:
print(df_2.shape)
df_2.head()

(103, 3)

  Postalcode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [12]:
df_2.to_csv('toronto.csv', index=False)